<template name="feedItem">
	<div class="panel panel-default feed">
		<div class="panel-heading">
			<div class="author-img">
				<a href=""><img src="images/demouser.png" alt="author-img"></a>
			</div>
			<div class="author-name">
				<a href="/profile">Vinay P.</a>
				<span>on 15th May 2015</span>
			</div>
			<div class="share-like pull-right">
				<a href=""><i class="fa fa-thumbs-o-up fa-2x"></i></a>
				<a href=""><i class="fa fa-share fa-2x"></i></a>
			</div>
		</div>
		<div class="panel-body">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam sapiente quis amet nisi cum id maxime vel adipisci numquam sed enim at quia quae, officiis rem! Architecto nostrum modi voluptatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta cumque commodi at, sint rem, cum ad veritatis esse, consequuntur sapiente ex ipsum pariatur impedit modi laborum! Eos, eum nulla optio!
		</div>
		<div class="view-all-comments">
			<a href="">
				<i class="fa fa-comment fa-lg"></i> view all
			</a>
			10 comments
		</div>
		<div class="panel-footer">
			<div class="comments">
				<ul>
					<li>
						<img class="pull-left" src="images/demouser.png" alt="img">
						<div class="comment">
							<a href="" class="comment-author">Vinay P.</a>
							<span class="comment-date">15 May</span>
							<div class="comment-body clear">This is a comment</div>
						</div>
					</li>
					<li>
						<img class="pull-left" src="images/demouser.png" alt="img">
						<div class="comment">
							<a href="" class="comment-author">Vinay P.</a>
							<span class="comment-date">15 May</span>
							<div class="comment-body clear">This is another comment</div>
						</div>
					</li>
					<li>
						<img class="pull-left" src="images/demouser.png" alt="img">
						<div class="comment">
							<a href="" class="comment-author">Vinay P.</a>
							<span class="comment-date">15 May</span>
							<div class="comment-body clear">This is another comment</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="input-group">
			  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-image fa-lg"></i></span>
			  <input type="text" class="form-control" placeholder="comment..." aria-describedby="basic-addon1">
			</div>
		</div>
	</div>
</template>