body{
	background-color: #ecf0f1;
}

/*Login and Signup page Rules*/
.header.logo{
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

.header.logo img{
	width: 200px;
}

.header.logo h1{
	font-size: 80px;
	color: white;
	font-weight: 800;
	padding: 0;
	margin: 0;
}

.header.logo span{
	color:#C0C5CC;
	font-size: 30px;
}

.bg-img{
	background: url(images/map.jpg) no-repeat;
	height: 100%;
}

.footer a:hover{
	text-decoration: underline;
	color: grey;
}

.footer{
	text-align: center;
	color: rgb(227, 85, 131);
	font-weight: 800;
	padding: 10px;
	padding-bottom: 0;
	margin-bottom: 0;
}

.footer-bg{
	background-color: rgb(227, 85, 131);
}


.login.panel{
	width: 500px;
	margin: 0 auto;
	margin-top: 20px;
	min-height: 300px;
	margin-bottom: 30px;
}

.links #signupFormLink,
.links #signinFormLink{
  text-decoration: none;
  font-size: x-large;
  font-weight: 700;
  color: #23c379;
}
.links div.pull-right{
	margin-right: 10px;
	margin-top: 10px;
}
.links a:not(.active):hover{
	color: #23c3cc;
}

.links a.active{
	color: #23c379;
	cursor: default;
}
.login.panel{
	padding: 10px;
}
.login.panel hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.login.panel .panel-body form .input-group{
	padding: 10px;
}

.login.panel .panel-body form .input-group .input-group-addon{
	background-color: transparent;
}

.login.panel .panel-body form .input-group .input-group-addon .fa{
	font-size: 20px;
}
.login.panel .panel-body form .input-group input{
border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.login.panel .panel-body form .input-group input:hover,
.login.panel .panel-body form .input-group input:focus{

	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}

#remember-forgot{
	padding: 10px;
}

#remember-forgot .checkbox{
	margin-top: 1px;
}



select.form-control{
	width: 95%;
	margin:auto;
}

.signup{
	padding: 10px;
}

.agree{
	padding: 10px;
	color: red;
	font-size: 12px;

}

.jumbotron{
  text-align: center;
  background-color: white;
  margin-top: 10%;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

/*---------------Main App Rules----------------*/

	/*-----------Navigation---------------*/

.navbar-default{
  background-color: white;
  border-bottom: 2px solid #D4D4D4;
  height: 60px;
}

.navbar-fixed-top{
  left: 260px;
}

.navbar-default .nav > li{
  border-right: 1px solid #ccc; 
}

.navbar-default .nav > li:hover{
  background-color: #e7e7e7;
}
.navbar-default .nav > li > a:hover i{
  color:#11eeff;
}
.navbar-default ul.user>li>a img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.navbar-default ul.location > li{
  border-right: none;
}
.navbar-default .navbar-form{
  display: block;
  width: 550px;
  height: 100%;
  margin:0;
  padding: 0;
}

.navbar-default .navbar-form .input-group{
  width: 100%;
  height: 100%;
  margin:0;
  padding: 0;
}

.navbar-default .navbar-form .input-group .form-control{
  width: 100%;
  height: 100%;
  border:none;
  border-radius: 0;
  border-right: 1px solid #ccc;
  padding: 0;
  color: #1188ff;
  font-style: oblique;
  font-family: Helvetica sans-serif;
  font-size: 18px;
}

.navbar-default .navbar-form .input-group .input-group-addon{ 
width: 20px;
border-radius: 0;
border:none;
background-color: transparent;
}

.navbar-default .navbar-form .input-group .form-control:hover{
  border-left: 1px solid #ccc;
  border-right: 2px solid #ccc;
}

.navbar-default .navbar-form .input-group .form-control:focus{
  border:none;
  border-right: 1px solid #ccc;
  border-color: transparent;
}

.navbar-default .navbar-form .input-group .form-control::-webkit-input-placeholder,
.navbar-default .navbar-form .input-group .form-control::-moz-placeholder,
.navbar-default .navbar-form .input-group .form-control::-ms-input-placeholder {
  color: #11ffff;
  font-style: oblique;
  font-family: Helvetica sans-serif;
  font-size: 18px;
}


/*------------sidebar left------------*/

aside.sidebar{
  position: fixed;
  height: 100%;
}

.sidebar.left{
  top: 0;
  left:0;
  background-color: white;
  width: 260px;
}

aside.sidebar .logo{
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #2879FE;
}
aside.sidebar .logo a>img{
  height: 100%;
  width: 100%;
}
aside.sidebar .sidebar-body{
  margin-top: 60px;
  
}

aside.sidebar .sidebar-body .sidebar-user .profile-pic img{
 width: 100px;
}

aside.sidebar .sidebar-body .sidebar-user .info{
  padding: 5px;
  font-size: 18px;
  font-weight: 100;
  height: 100px;
}

aside.sidebar .sidebar-body .sidebar-user .info p{
  padding: 0;
  margin: 0;
}

aside.sidebar .sidebar-body .sidebar-user .info .fa{
  color: grey;
  font-size: 15px;
}

aside.sidebar .sidebar-body .menu{
  border-top: 1px solid rgba(244,244,244,.8);
  margin-top: 5px;
}

aside.sidebar .sidebar-body .menu .list-group .list-group-item{
  padding: 30px 15px;
  font-size: 20px;
}

aside.sidebar .sidebar-body .menu .list-group .list-group-item:first-child{
  border-top: none;
  border-radius: 0;
}

aside.sidebar .sidebar-body .menu .list-group .list-group-item:last-child{
  border-bottom: none;
  border-radius: 0
}

aside.sidebar .sidebar-body .menu .list-group .list-group-item.active{
  background-color: #2879ef;
}

aside.sidebar .sidebar-footer{
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color:#2879FE;
  text-align: center;
  padding: 10px;
  color: white;
  font-weight: 700;
}

aside.sidebar .sidebar-footer a{
  color: white;
  font-weight: 700;
}

aside.sidebar .footer a:hover{
  text-decoration: underline;  
}

/*main*/

main{
  margin-left: 270px;
  margin-top: 60px;
}

.center{
  width: 80%;
  margin: 0 auto;
}

.panel-default .panel-heading{
  background-color: #2879FE;
  color: white;
  height: 50px;
}




.panel-default.post-status .panel-body{
  margin: 0;
  padding:0;
}

.panel-title{
  font-size: 20px;
}

.panel-default.post-status .panel-body textarea{
  width: 100%;
  height: 100px;
  padding: 5px;
  margin: 0;
  border:none;
}

.panel-footer{
  background-color: #F5F5F5;
  padding: 0;
}

.panel-footer.post-status-buttons a{
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #7f8c8d; 
}

.panel-footer.post-status-buttons a:hover{
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}

.panel-footer.post-status-buttons .btn{
  padding: 4px 12px;
}

.feed .panel-heading{
  padding: 0; 
}

.feed .panel-heading .author-img,.author-name,.share-like{
  display: inline-block;
}

.feed .panel-heading .author-name a{
  color: white;
  margin:2px 10px;
  font-weight: 700;
}

.feed .panel-heading .author-name span{
  font-size: 12px;
  color: #fff;
}

.feed .panel-heading .author-img a>img{
  width: 50px;
  height: 50px;
  margin-top: 0;
}

.feed .panel-heading .share-like{
  padding: 10px 15px;
}

.feed .panel-heading .share-like a{
  color: white;
  margin-right: 10px;
}

.feed .panel-heading .share-like a:hover{
  color: #ccc;
}

.feed .panel-body img{
  
}

.view-all-comments {
  display: block;
  padding: 3px 5px;
  background: #fcfcfc;
  border-top: 1px solid #efefef;
  font-weight: 500;
  font-size: 12px;
  color: #ccc;
  width: 100%;
}
.comments ul{
  margin: 0;
  padding: 0;
}
.comments ul li{
  list-style: none;
  padding: 5px;
  border-bottom: 1px solid white;
}

.comments ul li>img{
  width: 35px;
  height: 35px;
  margin-right: 5px;
}
.comments .comment .comment-author{
  display: block;
}
.comments .comment .comment-date {
  color: #888;
  font-size: 12px;
}
.comments .comment .comment-body{
  padding: 5px;
}
.clear{
  clear: both;
}

/*------------sidbebar right-----------*/
.sidebar.right{
  top:60px;
  right: 0;
  width:315px;
}

.sidebar.right .panel-default .panel-body{
  width: 100%;
  height:300px;
  padding: 0;
}
.map-container {
  width: 100%;
  height: 100%;
}
.sidebar.right .panel-default .panel-footer{
  background-color: #2879fe;
  height: 50px;
  padding: 10px;
  color: white;
}