<template name="feedsList">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<div class="center news-feeds">
					{{> updateStatus}}
					{{> feedItem}}
				</div>
			</div>
			<div class="col-md-4 visible-lg">
				<aside class="sidebar right">
					<div class="panel panel-default">
						<div class="panel-heading"><h3 class="panel-title">Current Location</h3></div>
					  <div class="panel-body">
					    <div class="map-container">
					        {{> googleMap name="exampleMap" options=exampleMapOptions}}
					      </div>
					  </div>
					  <div class="panel-footer" id="location-info">
					  	<img class="pull-right" src="images/powered-by-google-on-non-white.png" height="16" width="104" alt="powered by google">
					  </div>
					</div>
				</aside> 
			</div>
		</div>
	</div>			
</template>