<template name="signup">
	<div class="login panel panel-default">
		<div class="row links">
			<div class="col-md-3 text-center">
				<a id="signupFormLink" href="">Register</a>
			</div>
			<div class="text-center text-muted pull-right">Already a Member then just <a href="{{pathFor 'loginPage'}}">Login</a></div>
		</div>
		<hr>
		
		<div class="panel-body">
			<form id="signupForm" action="/signup" method="post" name="signupForm">
				<div class="form-group">
					<div class="input-group input-group-lg">
						<span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope-o"></i></span>
						<input type="text" class="form-control" placeholder="Email" name="email" aria-describedby="basic-addon1">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group input-group-lg">
						<span class="input-group-addon" id="basic-addon1"><i class="fa fa-key"></i></span>
						<input type="password" class="form-control" placeholder="Password" name="password" aria-describedby="basic-addon1">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group input-group-lg">
						<span class="input-group-addon" id="basic-addon1"><i class="fa fa-key"></i></span>
						<input type="password" class="form-control" placeholder="Re-Password" name="confirmPassword" aria-describedby="basic-addon1">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group date">
						<span class="input-group-addon">Date Of Birth</span>
						<input type="text" class="form-control" name="dob" placeholder="dd/mm/yyyy">
					</div>			   			   		
				</div>
				<div class="form-group">
					<select name="gender" class="form-control">
						<option value="default">Gender</option>
						<option value="male">Male</option>
						<option value="female">Female</option>
					</select>
				</div>
				<div class="agree">
					**By signing up your accepting our Terms And Conditions
				</div>
				<div class="form-group">
					<label class="col-xs-3 control-label">Captcha</label>
					<div class="col-xs-8">
						<!-- The captcha container -->
						<div id="captchaContainer"></div>
					</div>
				</div>
				
				<div class="pull-right signup">
					<button type="submit" class="btn btn-default">Sign up</button>
				</div>
			</form>
		</div>
	</div>
</template>