<template name="wizard">
	<div class="jumbotron">
		<div class="container">
			<h1>Welcome To Locoj Network!</h1>
			<p>Artisanal boat bridge pistol semiotics military-grade wristwatch into receding vinyl singularity urban Kowloon Chiba convenience store meta. Construct convenience store jeans cyber-table sentient car voodoo god dome physical Kowloon tower pre-long-chain hydrocarbons. Denim woman skyscraper rain A.I. cardboard euro-pop franchise refrigerator. Advert sensory physical tattoo digital smart-numinous futurity BASE jump singularity urban refrigerator chrome bridge dome jeans hotdog. </p>
			<p>
				<a class="btn btn-primary btn-lg" href="/">Start</a>
			</p>
		</div>
	</div>
</template>