<template name="feedItem">
	<div class="panel panel-default feed animated fadeIn">
		<div class="panel-heading">
			<div class="author-img">
				<a href=""><img src="images/demouser.png" alt="author-img"></a>
			</div>
			<div class="author-name">
				<a href="/profile">{{author}}</a>
				<span>on {{date}}</span>
			</div>
			<div class="share-like pull-right">
				<a href=""><i class="fa fa-thumbs-o-up fa-2x"></i></a>
				<a href=""><i class="fa fa-share fa-2x"></i></a>
			</div>
		</div>
		<div class="panel-body">
			{{#if image}}
			  <img src="{{imageUrl}}" alt="feedImg" class="feed-img">
			{{/if}}
			<div class="feed-body">{{feedBody}}</div>
		</div>
		<div class="panel-footer">

			{{> commentsList}}
			
		</div>
	</div>
</template>